fastpix-uploader {
  display: flex;
  flex-direction: column;
  gap: var(--fastpix-gap);
  padding: var(--fastpix-padding);
  background: var(--fastpix-bg);
  color: var(--fastpix-text-color);
  font-family: var(--fastpix-font-family);
  font-size: calc(0.95rem * var(--fastpix-size));
  border-radius: var(--fastpix-radius);
}

fastpix-uploader[data-fastpix-disabled] {
  opacity: 0.6;
  pointer-events: none;
}

fastpix-uploader[data-fastpix-size="sm"] {
  --fastpix-padding: 1.25rem;
  --fastpix-gap: 0.75rem;
  --fastpix-size: 0.875;
}

fastpix-uploader[data-fastpix-size="lg"] {
  --fastpix-padding: 2.5rem;
  --fastpix-gap: 1.25rem;
  --fastpix-size: 1.125;
}

/* ---------- default layout ---------- */
.fastpix-default {
  display: flex;
  flex-direction: column;
  gap: var(--fastpix-gap);
}

.fastpix-default-progress,
.fastpix-default-error,
.fastpix-default-success {
  flex-direction: column;
  gap: calc(0.75rem * var(--fastpix-size));
}

.fastpix-controls {
  display: flex;
  gap: 0.5rem;
}

.fastpix-default > [data-fastpix-show] {
  display: none;
  flex-direction: column;
}

.fastpix-default > .fastpix-controls[data-fastpix-show] {
  flex-direction: row;
}

fastpix-uploader[data-fastpix-state="idle"] .fastpix-default > [data-fastpix-show~="idle"],
fastpix-uploader[data-fastpix-state="ready"] .fastpix-default > [data-fastpix-show~="ready"],
fastpix-uploader[data-fastpix-state="resolving"]
  .fastpix-default
  > [data-fastpix-show~="resolving"],
fastpix-uploader[data-fastpix-state="uploading"]
  .fastpix-default
  > [data-fastpix-show~="uploading"],
fastpix-uploader[data-fastpix-state="paused"] .fastpix-default > [data-fastpix-show~="paused"],
fastpix-uploader[data-fastpix-state="error"] .fastpix-default > [data-fastpix-show~="error"],
fastpix-uploader[data-fastpix-state="success"] .fastpix-default > [data-fastpix-show~="success"] {
  display: flex;
}

.fastpix-default .fastpix-resume-button {
  display: none;
}

fastpix-uploader[data-fastpix-state="paused"] .fastpix-default .fastpix-resume-button {
  display: inline-block;
}

fastpix-uploader[data-fastpix-state="paused"] .fastpix-default .fastpix-pause-button {
  display: none;
}
