.fastpix-status {
  color: var(--fastpix-text-muted);
  font-size: 0.9em;
}

.fastpix-status[data-fastpix-state="error"] {
  color: var(--fastpix-error-color);
}

.fastpix-status[data-fastpix-state="success"] {
  color: var(--fastpix-success-color);
}
